:root {
    --bg-color: #161b22;
    --top-bg-color: #0d1117;
    --apple-pink: rgb(255, 55, 95);
    --apple-yellow: rgb(255, 204, 0);
}

.sidebarChannel {
    display: flex;
    align-items: center;
    color: whitesmoke;
    height: 60px;
    transition: all .3s ease;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.sidebarChannel:hover {
    background-color: #0d1117;
}

.sidebarChannel > h4 {
    padding-left: 10px;
}

.sidebarChannel__icon {
    padding-left: 10px;
    color: var(--apple-yellow);
}